@{
    ViewData["Title"] = "Wish List";
}
@model IEnumerable<CourseModel>

<div class="card text-center">
    <div class="card-header fw-bold">
        My Wish List
    </div>
    <div class="card-body">
        @if(Model == null || !Model.Any())
        {
            <i class="bi bi-heartbreak fs-1 px-1"></i>
            <p>Your wish list is empty</p>
            <a asp-controller="Home" class="btn btn-primary">Back to Courses</a>
        }
        else
        {
            <ol class="list-group list-group-numbered">
                @foreach (var i in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="ms-2 me-auto fw-bold">
                            <div class="d-inline-block" style="width: 70px;">
                                <img src="@(i.ImageUrl ?? "/images/no_image.png")" height="36" />
                            </div>
                            @i.Name (@i.CategoryName)
                        </div>
                        <span class="badge bg-warning rounded-pill mx-5 text-dark">
                            @i.Price$
                            @if (i.Discount > 0)
                            {
                                <span class="text-danger">@(-i.Discount + "%")</span>
                            }
                        </span>
                        <span class="wish-list-link">
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@i.Id">
                                <i class="bi bi-info-square-fill text-primary fs-5 px-1"></i>
                            </a>
                            <a asp-action="Remove" asp-route-id="@i.Id">
                                <i class="bi bi-trash-fill text-danger fs-5 px-1"></i>
                            </a>
                        </span>
                    </li>
                }
            </ol>
            <div>
                <a asp-controller="Orders" asp-action="Add" class="btn btn-success m-2">Confirm</a>
                <a asp-action="Clear" class="btn btn-danger m-2">Clear All</a>
            </div>
            <div>
                <a asp-controller="Home" class="btn btn-primary">Continue view Courses</a>
            </div>
        }
    </div>
    <div class="card-footer text-muted">
        Total: @(Model?.Sum(x => x.Price) ?? 0)$<br />
        With discount: @(Model?.Sum(x => x.Price - x.Price / 100 * x.Discount) ?? 0)$
    </div>
</div>
